html
    head
      title Request Header Parser Microservice
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', type='text/css')
    body
      div.container-fluid
        div.col-xs-2
        div.col-xs-8
          div.row
            h1 API Projects
                br
                small Request Header Parser Microservice
          div.row
            b User stories:
            ul
              li I can get the IP address, language and operating system for my browser.
          div.row
            b Example usage:
            ul
                li
                    code #{host}/api
            b Example output:
            ul
                li
                    code { "ipaddress": "23.192.17.96", "language": "en-US", "software": "Mac OS X 10.12.0" }
        div.col-xs-2
