html
    head
      title Timestamp Microservice
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
    body
      div.container-fluid
        div.col-xs-2
        div.col-xs-8
          div.row
            h1 API Projects
                br
                small Request Header Parser Microservice
          div.row
            b User stories:
            ul
              li I can get the IP address, language and operating system for my browser.
          div.row
            b Example usage:
            ul
                li
                    code https://leftynaut-timestamp.herokuapp.com/api
            b Example output:
            ul
                li
                    code { "ipaddress": "137.159.150.52", "language": "en-us", "software": "OS X El Capitan" }
        div.col-xs-2